
<div class="tabs is-centered">
	<ul>
	  <li><a href="/">Home</a></li>
	  <li class="is-active"><a href="/tests">Test me</a></li>
	  <li><a href="/user/account">Account</a></li>
	</ul>
</div>
<div class="container">
	<h1 class="title">Short Term Memory</h1>
	<div class="columns">
	<div class="column">
		<div class="card">
			<a href="/tests/remember-tile">
				<div class="card-image">
				  <figure class="image is-4by3">
				    <img src="images/tiles.jpg" alt="Tiles">
				  </figure>
				</div>
			</a>
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-5">Tiles</p>
		        <p class="subtitle is-6">Test Short term memory</p>
		      </div>
		    </div>

		    <div class="content">
				Test and log your short term memory with this basic
				game.
		      <br>
		      <small>10th Nov 2016</small>
		    </div>
		  </div>
		</div>
		</div>
	</div>
</div>


</div>