<div class="tabs is-centered">
  <ul>
    <li><a>Home</a></li>
    <li class="is-active"><a>Test me</a></li>
    <li><a>Account</a></li>
  </ul>
</div>
<div id="app" class="container">
	<remember></remember>
</div>
<script src="/build/app.js"></script>
