<div class="tabs is-centered">
  <ul>
    <li><a>Home</a></li>
    <li><a>Test me</a></li>
    <li class="is-active"><a>Account</a></li>
  </ul>
</div>
<div class="container">
	<div class="columns">
		<div class="column is-half is-offset-one-quarter">
			Welcome, {{ user.name }}
			{{ user.cookieid }}
			{{ user.email }}
		</div>
	</div>
</div>
