<div class="container">
	<div class="columns">
		<div class="column is-half is-offset-one-quarter">
			<br>
			<h1 class="title">Hey there!</h1>
			<p></p>
			<p>You don't appear to have been here before. Go ahead and create an account</p>
			<form action="/user/create" method="POST">
				<label class="label">*Name</label>
				<p class="control">
				  <input class="input" name="name" type="text" placeholder="John Doe">
				</p>

				<label class="label">Age</label>
				<p class="control">
				  <input class="input" name="age" type="text" placeholder="21">
				</p>

				<label class="label">Email</label>
				<p class="control">
				  <input class="input" name="email" type="email" placeholder="email@example.com">
				</p>

				<button class="button">Next</button>
			</form>
		</div>
	</div>
</div>
